@media screen and (max-width: 480px) {
    
    /* Show and hide element */
    .desktop__menu{
        display: none;
    }
    .mobile__menu{
        display: block;
    }

    /* Banner */
    .banner__img{
        border-radius: 0;
        margin: 0;
    }
    .banner__mobile{
        display: block;
    }
    .banner{
        display: none;
    }

    .main__padding{
        padding: 0 16px;
    }

    /* Mobile Menu */
    .menu__btn__img{
        width: 24px;
    }
    .mobile__menu{
        padding: 15px 16px 24px 16px;
        font-size: 14px;
    }
    .top__mobile__menu{
        display: flex;
        justify-content: space-between;
    }
    .logo__mobile__img{
        height: 44px;
    }
    .menu__btn__img , .account__img{
        padding: 10px 0 0 0;
    }
    .bottom__mobile__menu{
        display: flex;
        padding: 4px 0 0 0;
        justify-content: space-between;
    }
    .bottom__mobile__menu > div > a{
        text-decoration: none;
        font-weight: 500;
        color: #0061A3;
    }

    /* Sub Banner */
    .sub__banner_selections{
        grid-auto-flow: row;
        grid-template-columns: none;
        gap: 12px;
    }
    .selection__item{
        padding: 5px 8px 6px 5px;
    }
    .top__selection__text{
        padding: 0 0 9px 0;
    }

    /* Lottery Draws */
    .lottery__draws__title{
        font-size: 18px;
        line-height: 24px;
        padding: 30px 0 18px 0;
        right: 0;
    }
    .lottery__draws{
        display: grid;
        grid-template-columns: none;
        grid-auto-flow: row;
    }
    .draw__img{
        width: 127.27px;
        height: 80px;
    }
    .draw__us__name{
        padding: 0 0 12px 0;
    }
    .draw__dollars{
        font-size: 24px;
    }
    .draw__playnow > button{
        height: 34px;
        width: 100%;
        margin: 0 16px;
    }
    .bottom__draw{
        height: 60.43px;
    }

    /* UPCOMING */
    /* Title */
    .upcoming__title{
        font-size: 16px;
        line-height: 19.2px;
        margin: 45px 0 29px 0;
    }
    /* grid */
    .upcoming__grid{
        display: grid;
        padding: 0 8.5px;
        gap: 16px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, 155px);
    }
    .upcoming__element{
        width: 155px;
        height: 230px;
    }










}